<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<form action="{{url_for('admincheck')}}" method="post">
  		<h5 class="card-title font-weight-bold text-monospace">Enter patient id</h5>
        <input type="text" name="patientid" placeholder="Enter id">
        <button type="submit" style="width:25% "class="btn btn-primary">View profile</a>
	</form>
</body>
</html>