<!DOCTYPE html>
<html>
  <head>
    <title>Medical history</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='medhistory.css')}}">
  </head>
  <body>
    <div class="main-block">
      <h1>Medical history</h1>
      <form action="{{url_for('meddata')}}" method="post">
        <div class="info">
          <div class="info-item">
            <label class="icon" for="name"><i class="fas fa-user"></i></label>
            <input type="text" name="name"id="name" placeholder="Name" required/>
          </div>
          <div  class="info-item">
            <label class="icon" for="age"><i class="fas fa-calendar"></i></i></label>
            <input type="text" name="age" id="age" placeholder="Age" required/>
          </div>
          <div  class="info-item">
            <label class="icon" for="email"><i class="fas fa-envelope"></i></label>
            <input type="text" name="email" id="email" placeholder="Email" required/>
          </div>
          <div  class="info-item">
            <label class="icon" for="phone"><i class="fas fa-phone"></i></label>
            <input type="text" name="phone"id="phone" placeholder="Phone" required/>
          </div>
         <div class="info-item">
           <label class="icon" for="heartbeat"><i class="fas fa-heartbeat"></i></label>
            <input type="text" name="blood" id="blood" placeholder="Blood group" required/>
         </div>
         <div class="info-item">
           <label class="icon" for="heartbeat"><i class="fas fa-user-alt"></i></label>
            <input type="text" name="gender" id="gender" placeholder="Gender" required/>
         </div>
        </div>
        <div class="grade-type">
        <h3>List of comorbidities :</h3>
          <div class="form-check">
           <li>Diabetes</li>
          </div>
          <div class="form-check">
           <li>Hypertension</li>
          </div>
          <div class="form-check">
           <li>Obesity</li>
          </div>
          <div class="form-check">
            <li>Cardiovascular disease</li>
          </div>
          <div class="form-check">
           <li>Stroke</li>
          </div>
          <div class="form-check">
            <li>Asthma</li>
          </div>
          <div class="form-check">
            <li>Parkinsons disease</li>
          </div>
          <div class="form-check">
            <li>Cancer</li>
          </div>
          <div class="form-check">
            <li>Sickle cell disease</li>
          </div>
          <div class="form-check">
            <li>Chronic kidney disease</li>
          </div>
          <div class="form-check">
            <li>Thalessemia</li>
          </div>
          <div class="form-check">
            <li>Liver disease</li>
          </div>
          <div class="form-check">
            <li>Down syndrome</li>
          </div>
          <div class="form-check">
            <li>Compromised immune system</li>
          </div>
          <h3>Mention below if you suffer from any of the comorbidities given above</h3>
          <textarea name="diab" rows="4"></textarea>
          <h3>Any other specifications you would like to mention</h3>
          <textarea name="specs" rows="4"></textarea>
          <button type="Submit">Submit</button>
      </form>
    </div>
  </body>
</html>
